body {
	font-family: 'Calibri', 'Helvetica', 'Arial', sans-serif;
}

#section-top-nav {
	margin-top: 20px;
}

#section-top-background {
	background-image: url('../img/bg-top.png');
	background-position: center center;
	background-size: cover;
	height: 500px;
}

#section-footer {
	background-color: #222;
	border-top: 1px solid #080808;
}
