body {
	font-family: 'Calibri',
		'Helvetica',
		'Arial',
		sans-serif;
	font-size: 24px;
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	body {
		overflow: hidden;
	}
}

p {
	line-height: 1.3em;
	margin-bottom: 1em;
}

.loading-mask {
	background-color: lightyellow;
	bottom: 0;
	left: 0;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transition: bottom 0s 0.5s,
		opacity 0.3s 0s;
	z-index: 100;
}

.loading-mask.done {
	bottom: 100%;
	opacity: 0;
}

.loading-mask > div {
	font-size: 2em;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
}

.sectionIndicator {
	background-color: lightyellow;
	border-bottom: 1px solid darkgrey;
	border-left: 1px solid darkgrey;
	border-top: 1px solid darkgrey;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	bottom: 10%;
	padding: 8px;
	position: fixed;
	right: -40px;
	transition: right 0.5s 0s;
	z-index: 99;
}

@media (max-width: 767px) {
	.sectionIndicator {
		display: none;
	}
}

.sectionIndicator.active,
.sectionIndicator:hover {
	right: 0;
}

.sectionIndicator-dot {
	border: 1px solid darkgrey;
	border-radius: 8px;
	cursor: pointer;
	font-size: 0;
	height: 16px;
	margin-bottom: 8px;
	overflow: hidden;
	text-align: center;
	transition: background-color 0.2s 0s,
		border-color 0.2s 0s,
		color 0.2s 0s,
		font-size 0.2s 0s,
		height 0.2s 0s,
		padding 0.2s 0s,
		width 0.2s 0s;
	vertical-align: middle;
	width: 16px;
}

.sectionIndicator-dot:last-child {
	margin-bottom: 0;
}

.sectionIndicator-dot.active {
	background-color: #99ccff;
	border: 1px solid #99ccff;
	color: lightyellow;
	height: 24px;
}

.sectionIndicator:hover .sectionIndicator-dot {
	font-size: 16px;
	height: 40px;
	padding: 0.5em;
	width: 72px;
}

.frame {
	position: relative;
	top: 0;
	transition: top 0.5s 0s;
	width: 100%;
}

section {
	height: 40em;
	position: relative;
	width: 100%;
}

.tall-container {
	height: 100%;
}

.content {
	position: relative;
	top: 5%;
}

/* top */
.section-top {
	background-color: #5f6eb3;
	background-image: url('../img/city-lightblue.png');
	background-size: cover;
	color: #99ccff;
}

@media (max-width: 767px) {
	.section-top {
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.top-content {
	position: relative;
	text-shadow: 2px 2px 3px black;
	top: 20%;
}

.top-content-name {
	font-family: 'Century Gothic',
		'Avant Garde',
		'Calibri',
		'Arial',
		sans-serif;
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 10px;
	white-space: nowrap;
}

@media (max-width: 767px) {
	.top-content-name {
		font-size: 2em;
	}
}

.top-content-email {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 10px;
	white-space: nowrap;
}

@media (max-width: 767px) {
	.top-content-email {
		font-size: 1.3em;
	}
}

.top-content-links {
	line-height: 1em;
	white-space: nowrap;
}

.top-content-links-link {
	display: inline-block;
	margin-right: 1em;
}

@media (min-width: 768px) {
	.top-content-links-link:hover {
		color: aqua;
		cursor: pointer;
	}
}

@media (max-width: 767px) {
	.top-content-links-link {
		font-size: 1.1em;
	}
}

.top-down-arrow {
	bottom: 1em;
	color: #5f6eb3;
	height: 0;
	left: 50%;
	position: absolute;
	text-shadow: 0 0 3px #99ccff;
	width: 0;
}

@media (max-width: 767px) {
	.top-down-arrow {
		bottom: 4em;
		color: #99ccff;
		text-shadow: 0 0 3px #5f6eb3;
	}
}

.top-down-arrow > div {
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-name: top-down-arrow-anim;
	animation-timing-function: ease-in-out;
	cursor: pointer;
	font-size: 2em;
	height: 1em;
	left: -0.5em;
	position: absolute;
	top: -0.5em;
	width: 1em;
}

@keyframes top-down-arrow-anim {
	from {top: -0.5em;}
	to {top: -1em;}
}

/* about */
.section-about {
	background-color: #99ccff;
	background-image: url('../img/city-moccasin.png');
	background-size: cover;
}

@media (max-width: 767px) {
	.section-about {
		background-image: none;
	}
}

.about-sun {
	height: 0;
	left: 50%;
	position: absolute;
	top: -3em;
	transition: top 0.5s 0.5s;
	width: 0;
}

.section-about.active .about-sun {
	top: 2.5em;
}

.about-sun:after {
	background-color: lightyellow;
	border-radius: 50%;
	box-shadow: 0 0 4em lightyellow;
	content: '';
	height: 0;
	left: -2em;
	position: absolute;
	top: -2em;
	transition: height 0s 0.5s;
	width: 4em;
}

.section-about.active .about-sun::after {
	height: 4em;
}

.about-content {
	color: lightyellow;
	text-shadow: 2px 2px 3px black;
}

.about-content em {
	color: lemonchiffon;
	color: cornsilk;
	color: bisque;
}

/* projects */
.section-projects {
	background-color: moccasin;
}

.projects-content {
	color: maroon;
}

.projects-content-projects {
	position: relative;
}

.projects-content-project-details-container {
	background-color: lightyellow;
}

@media (max-width: 767px) {
	.projects-content-project-details-container {
		background-color: unset;
	}
}

.projects-content-default-text,
.projects-content-project-details,
.projects-content-project-details-mobile {
	display: none;
	padding: 1em;
}

.projects-content-project-details-mobile {
	text-align: left;
}

.projects-content-default-text.active,
.projects-content-project-details.active,
.projects-content-project-details-mobile.active {
	display: block;
}

.projects-content-project-names-container {
	margin-top: 20px;
	position: relative;
}

.projects-content-project-name {
	background-color: lightyellow;
	cursor: pointer;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
}

@media (min-width: 768px) {
	.projects-content-project-name:hover {
		background-color: beige;
	}
}

/* contact */
.section-contact {

}

.contact-content {

}
