<table ng-init="getCategoryList()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
		<tr>
			<td>Filter: <input type="text" ng-model="categoryFilterId" size="6" /></td>
			<td><input type="text" ng-model="categoryFilterName" /></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="category in categoryList" ng-show="categoryListFilter(category)" ng-style="{'background-color': (editCategoryIndex == $index) && 'yellow'}">
			<td>
				<span ng-show="editCategoryIndex != $index">{{category.id}}</span>
				<input type="text" ng-model="category.tempId" ng-show="editCategoryIndex == $index" size="6">
			</td>
			<td>
				<span ng-show="editCategoryIndex != $index">{{category.name}}</span>
				<input type="text" ng-model="category.tempName" ng-show="editCategoryIndex == $index">
			</td>
		</tr>
	</tbody>
</table>