<div class="content" ng-init="getCategoryList()">
	<div class="categoryList-titleCard">
		<div class="categoryList-titleCard-image-container"><img class="categoryList-titleCard-image" src="img/categoryList/categoryTitleImage.jpg" /></div>
		<div class="categoryList-titleCard-text-container"><div class="categoryList-titleCard-text">Products</div></div>
	</div>
	<div>
		<div class="categoryList-category" ng-repeat="category in categoryList">
			<div class="categoryList-category-image-container"><img class="categoryList-category-image" src="img/categoryList/{{category.image}}.jpg" /></div>
			<div class="categoryList-category-text-container"><div class="categoryList-category-text">{{category.name}}</div></div>
		</div>
	</div>
</div>