<table ng-init="getProductList();getCategoryList()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Category</th>
			<th>Name</th>
			<th>Price</th>
			<th>Brand</th>
			<th>Description</th>
			<th>Quantity</th>
		</tr>
		<tr>
			<td>Filter: <input type="text" ng-model="productFilterId" size="6" /></td>
			<td>
				<select ng-model="productFilterCategory">
					<option value=""> - Show All -</option>
					<option ng-repeat="category in categoryList" value="{{category.id}}">{{category.name}}</option>
				</select>
			</td>
			<td><input type="text" ng-model="productFilterName" /></td>
			<td>
				<select ng-model="productFilterPriceOperator">
					<option value=""></option>
					<option value="0"><</option>
					<option value="1">=</option>
					<option value="2">></option>
				</select>
				<input type="text" ng-model="productFilterPriceValue" size="6" />
			</td>
			<td><input type="text" ng-model="productFilterBrand" /></td>
			<td><input type="text" ng-model="productFilterDescription" /></td>
			<td>
				<select ng-model="productFilterQuantityOperator">
					<option value=""></option>
					<option value="0"><</option>
					<option value="1">=</option>
					<option value="2">></option>
				</select>
				<input type="text" ng-model="productFilterQuantityValue" size="6" />
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in productList" ng-show="productListFilter(product)" ng-style="{'background-color': (editProductIndex == $index) && 'yellow'}">
			<td>
				<span ng-show="editProductIndex != $index">{{product.id}}</span>
				<input type="text" ng-model="product.tempId" ng-show="editProductIndex == $index" size="6">
			</td>
			<td>
				<span ng-show="editProductIndex != $index">{{categoryDictionary[product.category]}} (ID {{product.category}})</span>
				<select ng-model="product.tempCategory" ng-show="editProductIndex == $index">
					<option ng-repeat="category in categoryList" value="{{category.id}}">{{category.name}}</option>
				</select>
			</td>
			<td>
				<span ng-show="editProductIndex != $index">{{product.name}}</span>
				<input type="text" ng-model="product.tempName" ng-show="editProductIndex == $index">
			</td>
			<td>
				<span ng-show="editProductIndex != $index">{{product.price}}</span>
				<input type="text" ng-model="product.tempPrice" ng-show="editProductIndex == $index" size="6">
			</td>
			<td>
				<span ng-show="editProductIndex != $index">{{product.brand}}</span>
				<input type="text" ng-model="product.tempBrand" ng-show="editProductIndex == $index">
			</td>
			<td>
				<span ng-show="editProductIndex != $index">{{product.description}}</span>
				<input type="text" ng-model="product.tempDescription" ng-show="editProductIndex == $index">
			</td>
			<td ng-style="{'background-color': (product.quantity==0) && 'pink'}">
				<span ng-show="editProductIndex != $index">{{product.quantity}}</span>
				<input type="text" ng-model="product.tempQuantity" ng-show="editProductIndex == $index" size="6">
			</td>
			<td>
				<input type="button" value="Edit" ng-click="editProduct($index,product)" ng-show="editProductIndex != $index" />
				<input type="button" value="Save" ng-click="updateProduct(product.id,product.tempId,product.tempCategory,product.tempName,product.tempPrice,product.tempBrand,product.tempDescription,product.tempQuantity)" ng-show="editProductIndex == $index" />
				<input type="button" value="Cancel" ng-click="cancelEditProduct()" ng-show="editProductIndex == $index" />
				<input type="button" value="Delete" ng-click="deleteProduct(product.id,product.name)" ng-show="editProductIndex != $index" />
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Add new product:</td>
			<td>
				<select ng-model="addProductCategory">
					<option value=""> - Pick One -</option>
					<option ng-repeat="category in categoryList" value="{{category.id}}">{{category.name}}</option>
				</select>
			</td>
			<td><input type="text" ng-model="addProductName" /></td>
			<td><input type="text" ng-model="addProductPrice" size="6" /></td>
			<td><input type="text" ng-model="addProductBrand" /></td>
			<td><input type="text" ng-model="addProductDescription" /></td>
			<td><input type="text" ng-model="addProductQuantity" size="6" /></td>
			<td><input type="button" value="Add" ng-click="addProduct(addProductCategory,addProductName,addProductPrice,addProductBrand,addProductDescription,addProductQuantity)" /></td>
		</tr>
	</tfoot>
</table>