<table>
	<thead>
		<tr>
			<th style="width:120px">ID</th>
			<th style="width:300px">Name</th>
			<th style="width:120px">Price</th>
			<th style="width:230px">Keywords</th>
			<th style="width:400px">Description</th>
			<th>Image</th>
			<th style="width:120px">Quantity</th>
			<th style="width:80px"></th>
		</tr>
		<tr>
			<td>Filter: <input type="text" ng-model="productFilter.id" size="6" /></td>
			<td>
				<select ng-model="productFilter.nameOperator">
					<option value=""></option>
					<option value="any">ANY</option>
					<option value="all">ALL</option>
				</select>
				<input type="text" ng-model="productFilter.nameValue" />
			</td>
			<td>
				<select ng-model="productFilter.priceOperator">
					<option value=""></option>
					<option value="less"><</option>
					<option value="lessEqual"><=</option>
					<option value="equal">=</option>
					<option value="greaterEqual">>=</option>
					<option value="greater">></option>
				</select>
				<input type="text" size="6" ng-model="productFilter.priceValue" />
			</td>
			<td>
				<select ng-model="productFilter.keywordsOperator">
					<option value=""></option>
					<option value="any">ANY</option>
					<option value="all">ALL</option>
				</select>
				<input type="text" ng-model="productFilter.keywordsValue" />
			</td>
			<td>
				<select ng-model="productFilter.descriptionOperator">
					<option value=""></option>
					<option value="any">ANY</option>
					<option value="all">ALL</option>
				</select>
				<input type="text" ng-model="productFilter.descriptionValue" />
			</td>
			<td></td>
			<td>
				<select ng-model="productFilter.quantityOperator">
					<option value=""></option>
					<option value="less"><</option>
					<option value="lessEqual"><=</option>
					<option value="equal">=</option>
					<option value="greaterEqual">>=</option>
					<option value="greater">></option>
				</select>
				<input type="text" size="6" ng-model="productFilter.quantityValue" />
			</td>
			<td><input type="button" value="Clear" ng-click="filterProductsClear()" /></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in productList" ng-show="filterProductsShow($index)">
			<td>{{product.id}}</td>
			<td ng-style="{'background-color': product.name=='' && 'pink'}">{{product.name}}</td>
			<td ng-style="{'background-color': (product.price=='' || product.price==0) && 'pink'}">${{product.price}}</td>
			<td ng-style="{'background-color': product.keywords=='' && 'pink'}">{{product.keywords}}</td>
			<td ng-style="{'background-color': product.description=='' && 'pink'}">{{product.description}}</td>
			<td><img src="" /></td>
			<td ng-style="{'background-color': (product.quantity=='' || product.quantity==0) && 'pink'}">{{product.quantity}}</td>
			<td><input type="button" value="Delete" ng-click="deleteProduct($index)" /></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>ID</td>
			<th>Name</td>
			<th>Price</td>
			<th>Keywords</td>
			<th>Description</td>
			<th>Image</td>
			<th>Quantity</td>
		</tr>
		<tr ng-repeat="product in addProductsList">
			<td>New Product:</td>
			<td><input type="text" ng-model="product.name" /></td>
			<td><input type="text" ng-model="product.price" size="6" /></td>
			<td><input type="text" ng-model="product.keywords" /></td>
			<td><input type="text" ng-model="product.description" /></td>
			<td><img src="" /></td>
			<td><input type="text" ng-model="product.quantity" size="6" /></td>
			<td><input type="button" value="Remove" ng-click="addProductsRemove($index)" /></td>
		</tr>
		<tr>
			<td><input type="button" value="Add New Product" ng-click="addProductsAdd()" /></td>
			<td colspan="6"></td>
			<td ng-show="addProductsList.length > 0"><input type="button" value="Submit" ng-click="addProductsSubmit()" /></td>
		</tr>
	</tfoot>
</table>