body {
	background-color: #eee;
	font-family: 'Century Gothic', 'Arial', sans-serif;
	margin: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

.header {
	background-color: white;
	border-bottom: 1px solid #ddd;
	height: 3em;
}

.header-main {
	padding: 1em 0;
	float: left;
}

.header-userInfo {
	padding: 1em;
	float: right;
	text-align: right;
}

.content {
	margin: 0 auto;
	width: 1000px;
}

/* stocks */
.stocksTable thead tr {
	background-color: lightblue;
}

.stocksTable > tbody > tr:nth-child(2n) {
	background-color: white;
}
.stocksTable > tbody > tr:hover {
	background-color: lightyellow;
	cursor: pointer;
}

.stocksTable > tfoot > tr {
	background-color: lightblue;
}

.stocksTable th {
	font-weight: bold;
}

.stocksTable th, .stocksTable td {
	border: 1px solid black;
	padding: 0.5em;
}

.graphContainer {
	border: 1px solid black;
	padding: 20px 0 40px 90px;
}

.graph {
	background-color: white;
	height: 201px;
	position: relative;
	width: 800px;
}

.xAxis {
	height: 1em;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
}

.xAxis-left {
	left: 0;
	position: absolute;
	text-align: center;
	top: 15px;
	width: 200px;
}

.xAxis-left > div {
	position: relative;
	right: 50%;
}

.xAxis-right {
	position: absolute;
	right: 0;
	text-align: center;
	top: 15px;
	width: 200px;
}

.xAxis-right > div {
	left: 50%;
	position: relative;
}

.xAxis-marker {
	border-left: 1px solid black;
	height: 10px;
	float: left;
	width: 798px;
}

.xAxis-marker:last-child {
	border-right: 1px solid black;
}

.yAxis {
	height: 201px;
	position: absolute;
	top: 0;
	right: 100%;
	width: 80px;
}

.yAxis-top {
	position: absolute;
	right: 12px;
	top: 0;
}

.yAxis-top > div {
	bottom: 0.5em;
	position: relative;
}

.yAxis-bottom {
	bottom: 0;
	position: absolute;
	right: 12px;
}

.yAxis-bottom > div {
	position: relative;
	top: 0.5em;
}

.yAxis-marker {
	border-top: 1px solid black;
	clear: both;
	float: right;
	height: 49px;
	width: 10px;
}

.yAxis-marker:last-child {
	border-bottom: 1px solid black;
}

.graphBarOuter {
	background-color: white;
	height: 201px;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	width: 1px;
	z-index: 1;
}

.graphBarOuter:hover {
	background-color: lightblue;
	z-index: 2;
}

.graphBarInner {
	border-top: 1px solid red;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.graphBarInnerTooltip {
	background-color: white;
	border: 1px solid black;
	display: none;
	left: 0;
	position: absolute;
	top: 105%;
	white-space: nowrap;
}

.graphBarOuter:hover .graphBarInnerTooltip {
	display: block;
}