body {
	font-family: 'Calibri', 'Arial', sans-serif;
}

@media (max-width: 767px) {
	.mobile-hide {
		display: none;
	}
}

section {
	border-bottom: 1px solid black;
	margin-top: 20px;
	padding-bottom: 20px;
}

p {
	line-height: 1.3em;
	margin-bottom: 1em;
}

input[type=number] {
	width: 50px;
}

table {
	width: 100%;
}

thead tr {
	background-color: lightblue;
}

th {
	font-weight: bold;
}

th, td {
	border: 1px solid black;
	padding: 10px;
}

.portfolio-stocks-table tbody tr,
.search-results-table tbody tr {
	cursor: pointer;
}

tbody tr:first-child {
	cursor: default;
}

tbody tr:nth-child(2n+1) {
	background-color: ghostwhite;
}

.portfolio-stocks-table tbody tr:not(:first-child):hover,
.search-results-table tbody tr:not(:first-child):hover {
	background-color: lightyellow;
}

tfoot tr {
	background-color: lightblue;
}

tfoot td {
	font-weight: bold;
}

/* modals */
.modal {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.modal.active {
	display: block;
}

.modal-shadow {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.modal-content {
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	text-align: center;
}

.modal-close-button {
	cursor: pointer;
	font-size: 2em;
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal-content-price {
	font-size: 1.5em;
}

.modal-content-buy,
.modal-content-sell {
	border: 1px solid black;
	margin: 10px auto;
	max-width: 400px;
	padding-bottom: 10px;
}