<div class="content">
	<div><h1>Stocks</h1></div>
	<div>
		<div><h2>Featured Stocks</h2></div>
		<table class="stocksTable">
			<thead>
				<tr>
					<th>Symbol</th>
					<th>Name</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="stock in featuredStocks" ng-click="stockDetails(stock.symbol)">
					<td>{{stock.symbol}}</td>
					<td>{{stock.name}}</td>
					<td style="text-align:right">${{stock.price}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>Stock Symbol Search: <input type="text" ng-model="symbolToSearch" /><input type="button" value="Search" ng-click="searchStock()" /></div>
	<div ng-show="User.getIsLoggedIn()">
		<div><h2>Your Portfolio</h2></div>
		<div>Cash: ${{portfolio.cash}}</div>
		<div>Stocks Value: ${{portfolio.totalValue}}</div>
		<div>Total Networth: ${{portfolio.networth}}</div>
		<table class="stocksTable">
			<thead>
				<tr>
					<th>Symbol</th>
					<th>Name</th>
					<th>Price</th>
					<th>Shares</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="stock in portfolio.stocks" ng-click="stockDetails(stock.symbol)">
					<td>{{stock.symbol}}</td>
					<td>{{stock.name}}</td>
					<td style="text-align:right">${{stock.price}}</td>
					<td style="text-align:right">{{stock.shares}}</td>
					<td style="text-align:right">${{stock.value}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" style="text-align:right">Total Value:</td>
					<td style="text-align:right">${{portfolio.totalValue}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>