<div class="content">
	<div>Stock Symbol Search: <input type="text" ng-model="symbolToSearch" /><input type="button" value="Search" ng-click="searchStock()" /></div>
	<div><h1>Details for {{stock.name}} ({{stock.symbol}})</h1></div>
	<div>Company name: {{stock.name}}</div>
	<div>Stock symbol: {{stock.symbol}}</div>
	<div>Current Price: ${{stock.price}}</div>
	
	<div><h2>Historical Data</h2></div>
	<div class="graphContainer">
		<div class="graph">
			<div class="xAxis">
				<div class="xAxis-left"><div>{{graph.start}}</div></div>
				<div class="xAxis-right"><div>{{graph.end}}</div></div>
				<div class="xAxis-marker"></div>
			</div>
			<div class="yAxis">
				<div class="yAxis-top"><div>${{graph.max}}</div></div>
				<div class="yAxis-bottom"><div>${{graph.min}}</div></div>
				<div class="yAxis-marker"></div>
				<div class="yAxis-marker"></div>
				<div class="yAxis-marker"></div>
				<div class="yAxis-marker"></div>
			</div>
			<div class="graphBarOuter" ng-repeat="bar in graph.bars" ng-style="{'width':graph.width+'px'}">
				<div class="graphBarInner" ng-style="{'height':bar.height+'px'}"></div>
				<div class="graphBarInnerTooltip">
					<div>Date: {{bar.date}}</div>
					<div>Price: ${{bar.open}}</div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="User.getIsLoggedIn()">
		<div>You have ${{(portfolio.cash).toFixed(2)}} in cash.</div>
		<div>You own {{symbolSharesOwned}} shares of {{symbol}}.</div>
		<div>Buy: <input type="text" size="6" ng-model="sharesToBuy" /> shares <input type="button" value="Buy" ng-click="buyStock()" /></div>
		<div>Sell: <input type="text" size="6" ng-model="sharesToSell" /> shares <input type="button" value="Sell" ng-click="sellStock()" /></div>
	</div>

</div>