body {
	font-family: Arial;
	margin: 0;
}

th {
	font-weight: bold;
}

th, td {
	border: 1px solid black;
	padding: 0.5em;
}

tbody> tr:nth-child(2n) {
	background-color: #f2f2f2;
}

thead > tr {
	background-color: lightblue;
}

tfoot > tr {
	background-color: lightgreen;
}

.categoryList-categoryImage, #addCategoryImage-preview, #editCategoryImage-preview {
	height: 50px;
	width: 200px;
}